<img class="headBg" src="../../assets/Header-bg.svg" alt="">
<img class="logo" src="../../assets/Logo.svg" alt="">
<h2><b>Project Listing</b></h2>
<nav class="sidebar">
  <ul>
    <li><a href="" (click)="toDashboard()"><img src="../../assets/Dashboard.svg" alt=""></a></li>
    <li><a href=""><img src="../../assets/Project-list-active.svg" alt=""></a></li>
    <hr style=" border: 1px black solid; ">
    <li><a href=""><img (click)="toProjectCreation()" class="cActive" src="../../assets/create-project.svg" alt="">1</a>
    </li>
    <!-- Add more links as needed -->
  </ul>
</nav>
<form class="project-list">
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
      viewBox="0 0 16 16">
      <path
        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
    </svg>
    <form class="sForm">
      <mat-form-field class="example-full-width">
        <input class="search-bar" matInput placeholder="Search">
      </mat-form-field>
    </form>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <th>Project Name</th>
      </div>
      <div class="col-1">
        <th>Reason</th>
      </div>
      <div class="col-1">
        <th>Type</th>
      </div>
      <div class="col-1">
        <th>Division</th>
      </div>
      <div class="col-1">
        <th>Category</th>
      </div>
      <div class="col-1">
        <th>Priority</th>
      </div>
      <div class="col-1">
        <th>Dept.</th>
      </div>
      <div class="col-1">
        <th>Location</th>
      </div>
      <div class="col-1">
        <th>Status</th>
      </div>
    </div>

    <div class="row" *ngFor="let s of List">
      <div class="col-2" id="pInfo">{{s.theme}}
      <h5 >{{s.startDate}} to {{s.endDate}}</h5></div>
      <div class="col-1" id="pInfo1">{{s.reason}}</div>
      <div class="col-1" id="pInfo1">{{s.type}}</div>
      <div class="col-1" id="pInfo1">{{s.division}}</div>
      <div class="col-1" id="pInfo1">{{s.category}}</div>
      <div class="col-1" id="pInfo1">{{s.priority}}</div>
      <div class="col-1" id="pInfo1">{{s.dept}}</div>
      <div class="col-1" id="pInfo1">{{s.location}}</div>
      <div class="col-1" id="pInfo">{{s.status}}</div>
      <input type="button" class="btn btn-primary" (click)="updateStatus(s,1)" value="Start">&nbsp;&nbsp;
      <input type="button" class="btn btn-outline-primary"(click)="updateStatus(s,2)" value="Close">&nbsp;&nbsp;
      <input style="padding: 10px;" type="button" class="btn btn-outline-primary" (click)="updateStatus(s,3)" value="Cancel">
      <hr>
    </div>
  </div>
</form>