<img class="headBg" src="../../assets/Header-bg.svg" alt="">
<img class="logo" src="../../assets/Logo.svg" alt="">
<h2><b>Dashboard</b></h2>
<nav class="sidebar">
  <ul>
    <li><a href=""><img src="../../assets/Dashboard-active.svg" alt=""></a></li>
    <li><a href=""(click)="toProjectList()"><img src="../../assets/Project-list.svg" alt=""></a></li>
    <hr style=" border: 1px black solid; ">
    <li><a href="" (click)="toProjectCreation()"><img class="cActive" src="../../assets/create-project.svg" alt="">1</a>
    </li>
    <!-- Add more links as needed -->
  </ul>
</nav>
<div class="container-fluid pr-md-0">
  <div class="row">
    <div class="col-md-12 dashboard-container">
      <div class="row">
        <div class="col-md-12">
          <div class="project-count-list">
            <div class="shadow project-count">
              <p class="mt-2 ml-2 mb-0">Total Project</p>
              <h1 class="mt-0 ml-2 p-conut-no">{{statusCounts}}</h1>
            </div>
            <div class="shadow project-count">
              <p class="mt-2 ml-2 mb-0">Closed</p>
              <h1 class="mt-0 ml-2 p-conut-no">2</h1>
            </div>
            <div class="shadow project-count">
              <p class="mt-2 ml-2 mb-0">Running</p>
              <h1 class="mt-0 ml-2 p-conut-no">3</h1>
            </div>
            <div class="shadow project-count">
              <p class="mt-2 ml-2 mb-0">Closuer Delay</p>
              <h1 class="mt-0 ml-2 p-conut-no">4</h1>
            </div>
            <div class="shadow project-count">
              <p class="mt-2 ml-2 mb-0">Cancelled</p>
              <h1 class="mt-0 ml-2 p-conut-no">5</h1>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <h1 class="mt-4">Department wise - Total Vs Closed</h1>
        </div>
        <div class="col-md-6 mb-5">
          <div class="shadow mt-3 mb-4 chart"></div>
        </div>

      </div>
    </div>
  </div>
</div>